/*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

html,body {
  height:97%;
  margin:0;
}

#fullpage, .section {
  height:100%;
}

.slide {
  height:100%;
  min-height:100%;
  display:none;
}

.active {
  display:block;
}

html>body .slide {
  height:auto;
}