/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* LAYOUT STYLES */
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #313131;
}

a {
}

    a:hover {
        text-decoration: underline;
    }

header {
    padding-top: 35px;
    padding-bottom: 25px;
}

    header h1 {
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, serif;
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 34px;
        color: #303030;
        line-height: 1.2;
    }

    header h2 {
        letter-spacing: -1px;
        font-size: 22px;
        color: #aaa;
        font-weight: normal;
        line-height: 1.2;
    }

.inner {
    width: 620px;
    margin: 0 auto;
}

#container .inner img {
    max-width: 100%;
}

#downloads {
    margin-bottom: 40px;
}

a.button {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    color: #303030;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
    padding: 12px 8px 12px 8px;
    display: block;
    float: left;
    width: 115px;
    margin-right: 14px;
    margin-top: 10px;
    background: #fdfdfd; /* Old browsers */
    background: linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%); /* W3C */
    box-shadow: 0px 1px 5px #e8e8e8;
}

    a.button:hover {
        border-top: solid 1px #b7b7b7;
        border-left: solid 1px #b3b3b3;
        border-right: solid 1px #b3b3b3;
        border-bottom: solid 1px #b3b3b3;
        background: #fafafa; /* Old browsers */
        background: linear-gradient(top, #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
    }

    .btn-text {
        vertical-align: top;
    }

    a.button div {
        height: 23px;
        font-size: 120%;
        padding-left: 8px;
        line-height: 25px;
        vertical-align:top;
    }

    a.button:hover {
        text-decoration: none;
    }


#try-it {
    margin-right: 0;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
    color: #222;
    margin-bottom: 30px;
    font-size: 14px;
}

code {
    background-color: #f2f2f2;
    border: solid 1px #ddd;
    padding: 2px 3px;
}

pre {
    padding: 20px;
    background: #303030;
    color: #f2f2f2;
    text-shadow: none;
    overflow: auto;
}

    pre code {
        color: #f2f2f2;
        background-color: #303030;
        border: none;
        padding: 0;
    }

ul, ol, dl {
    margin-bottom: 20px;
}


/* COMMON STYLES */


strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    width: 100%;
    border: 1px solid #ebebeb;
}

th {
    font-weight: 500;
}

td {
    border: 1px solid #ebebeb;
    text-align: center;
    font-weight: 300;
}

form {
    background: #f2f2f2;
    padding: 20px;
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #515151;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

h4 {
    font-size: 16px;
    color: #303030;
    font-weight: bold;
}

h5 {
    font-size: 1em;
    color: #303030;
}

h6 {
    font-size: .8em;
    color: #303030;
}

p {
    font-weight: 300;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

p a {
    font-weight: 400;
}

blockquote {
    font-size: 1.6em;
    border-left: 10px solid #e9e9e9;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}

ul li {
    list-style: disc inside;
    padding-left: 20px;
}

ol li {
    list-style: decimal inside;
    padding-left: 3px;
}

dl dt {
    color: #303030;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #aaa;
}

    footer a {
        color: #666;
    }

        footer a:hover {
            color: #444;
        }

/* MISC */
.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.button-primary {
    background-color: #33C3F0;
    border-color: #33C3F0;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    border-color: #4FCAEF !important;
    border-bottom: 2px #2A9EC1 solid !important;
    border-right: 2px #2A9EC1 solid !important;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;    
    color: #fff;
}

a.button-primary:hover {
    text-decoration: none;
    background-color: #1EAEDB;
}


a {
    color: #1EAEDB;
}

@media only screen and (max-width: 767px) {
    header {
        padding-top:5px;
        padding-bottom:0;
    }
    #downloads {
        margin-bottom:20px;
    }
    .inner {
        width: 94%;
        margin: 0 auto;
    }
}
